services:
  db:
    image: postgres:15
    container_name: bancodetalentos_postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5447:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    container_name: bancodetalentos_backend
    env_file:
      - .env
    environment:
      POSTGRES_HOST: bancodetalentos_postgres
    volumes:
      - ./backend:/app
      - ./backend/staticfiles:/app/staticfiles
    ports:
      - "8025:8000"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: bancodetalentos_frontend
    env_file:
      - ./frontend/.env
    ports:
      - "3025:3000"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  pg_data:
