services:
  db:
    image: postgres:15
    container_name: bancodetalentos_postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5447:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    container_name: bancodetalentos_backend
    env_file:
      - .env
    environment:
      POSTGRES_HOST: bancodetalentos_postgres
    volumes:
      - ./backend:/app
      - ./backend/staticfiles:/app/staticfiles
    ports:
      - "8025:8000"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: bancodetalentos_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  evolution-api:
    image: evoapicloud/evolution-api:latest
    container_name: bancodetalentos_evolution
    restart: unless-stopped
    ports:
      - "8085:8080"
    env_file:
      - .env
    environment:
      - AUTHENTICATION_API_KEY=${EVOLUTION_API_KEY}
      - DATABASE_ENABLED=true
      - DATABASE_PROVIDER=postgresql
      - DATABASE_CONNECTION_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@bancodetalentos_postgres:5432/evolution_api
      - DATABASE_CONNECTION_CLIENT_NAME=evolution_api
      - CACHE_REDIS_ENABLED=true
      - CACHE_REDIS_URI=redis://bancodetalentos_redis:6379
    volumes:
      - evolution_instances:/evolution/instances
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  frontend:
    build:
      context: ./frontend
    container_name: bancodetalentos_frontend
    env_file:
      - ./frontend/.env
    ports:
      - "3025:3000"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  pg_data:
  redis_data:
  evolution_instances:
